PORT=3000
DATABASE=database_without_app_name
DATABASE_ALT=darabase_with_app_name
DATABASE_PASSWORD=database_password

OMDB_API_KEY=key

JWT_SECRET=secret-for-jwt
JWT_EXPIRES_IN=15m
JWT_COOKIE_EXPIRES_IN=1

NODE_ENV=development